<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>About Ken Xiong</h1>
    </div>
      <img width='300' src='/images/xk2.jpg'>
      <hr>

      <h2>Education</h2>
      <ul>
        <li>Jericho High School, 2018</li>
        <li><a href='http://www.brandeis.edu'>Brandeis University</a>, 2022</li>
        <li>Columbia University, 2023</li>
      </ul>
      <hr>

      <h2>Places that I have lived ...</h2>
<div class="row">
  <div class="col">
    <ul>
      <li>Wuhan, China</li>
      <li>Long Island, NY, U.S.</li>
      <li>Waltham, MA, U.S.</li>
    </ul>
  </div>
  <div class="col">
    <a href="http://www.wfls.com.cn/">Wuhan Foreign Languages School</a><br>
    <image width="450" src="/images/IMG_1680.jpg">
  </div>
  <div class="col">
    Montauk Point, Long Island<br>
    <image width="424" src="/images/IMG_4212.JPG">
  </div>
  <div class="col">
    Franconia Notch State Park, MA<br>
    <image width="100%" src="/images/Franconia Notch State Park.jpg">
  </div>
</div>

<h2>Ken's Timeline</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>0-2</th>
      <th>2-14</th>
      <th>14-21</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      Born in Queens, New York;<br>
      Taken by my parents to China when I was 2
      </td>
      <td>
      Spent 12 delightful years in China;<br>
      Made a lot of childhood friends
      </td>
      <td>
      Came back to the states for high school<br>
      and college education
      </td>
    </tr>
  </tbody>
</table>

      <div>
        <h2>Contact me:</h2>
        <p>kenxiong0301@gmail.com</p>
      </div>

<%- include('bootfooter') -%>
