<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="row ">
      <h1> </h1><br>
      <h1>About Wendy/Wenxuan Jin</h1>
      <br>
      <div class="col bg-warning text-danger">
        <h3>Education condition</h3>
        <p>
          I am a Chinese and a 24' in
          <a href="https://www.brandeis.edu/">
            Brandeis University
          </a>
          . Due to pandemic, I have a whole year online courses. I stayed at home during fall semster and went to SUS-Tech in ShenZhen during spring semster. For furture, I plan to take part in the
          <a href="https://www.brandeis.edu/academic-services/advising/academic-opportunities.html">
              3+2 Columbia Engineering program
          </a>
          , which can provide me learning experience in different universities. Before going abroad, I study in my hometown, Shuyang until grade 9. Then I went to
          <a href="http://www.shsbnu.net/cms/832/sdmh/indexgjb.shtml">
              SHSBNU
          </a>
          , an internation high school in Beijing to prepare for going abroad.
        </p>

        <div class="bg-danger text-white">
          <h3>
            Places I lived ..
          </h3>
          <ul>
            <li> Shuyang, Jiangsu, China</li>
            <li> Beijing, China</li>
            <li> ShenZhen, Guangdong, China</li><br>
          </ul>
        </div>

        <h3>Food I love</h3>
        <div class="row">
          <div class="col">
            <img width="50" src="images/hotpot.jpg">
            <p>Hotpot</p>
          </div>
          <div class="col">
            <img width="50" src="images/icecream.jpg">
            <p>Ice-Cream</p>
          </div>
          <div class="col">
            <img width="50" src="images/cake.jpg">
            <p>Cake</p>
          </div>
          <div class="col">
            <img width="50" src="images/cheese.jpg">
            <p>Cheese</p>
          </div>
          <br>

        </div>


      </div>
      <div class="col">
        <img width="500" src="/images/wendy.jpg">
      </div>


    </div>
<%- include('bootfooter') -%>
