
<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Clark Yang</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">
  <div class="col bg-warning text-black">
    <p>
      I am a rising senior, major in Applied Math, Econ, and Minor in COSI.
    </p>
    <p>
      I was born in Beijing, China
    </p>
    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Beijing,China</li>
        <li> Waltham, MA</li>
      </ul>
    </div>

    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://www.dccomics.com/">DC Comics</a></li>
      <li> <a href="https://www.marvel.com/">Marvel Comics</a></li>
    </ul>
  </div>

  <div class="col">
    <img src="/images/CY.jpeg" width="80%" alt="photo of Clark Yang" >
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
