<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>This is Group 4!</h1>

    </div>


  <div class="col">
    <img src="images/groupPic.jpeg"
     width="200">
     Meet Our Group cat
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
