<%- include('bootheader') -%>
<%- include('menubar') -%>
<style col>
.myDiv {
  border: 5px outset grey;
  background-color: lightblue;
  text-align: center;
}
</style>
    <div class="jumbotron">
        <h1>YiZhe Hong</h1>
        <p>Intersting fact about myself</p>
    </div>





<div class="row">

  <div class="myDiv col">
    <p>
I am a rising junior in Brandeis and major in Computer Science and Applied Mathmetics.
I like workout; I wake up at 6:00 am, go to school gyms, and do exercise for at least 1:30 hours every day.
I also like to code. Everytime I finish a project. I feel like myself is GOD!!!!!
ps:
I can also make frog sound
    </p>
    <p>
      I grew in Suzhou, a city near Shanghai from age 0 to 18.
    </p>

    <div >
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Suzhu China</li>
        <li> Shanghai, China</li>
        <li> Beijing, China</li>
      </ul>
    </div>

    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://www.bilibili.com/">bilibili</a></li>
      <li> <a href="https://www.youtube.com/">Youtube</a></li>
      <li> <a href="https://zs.symbolab.com/">SymboLab</a></li>
    </ul>
    <h2>
      Games I like
    </h2>
    <ul>
      <li> <a href="https://na.leagueoflegends.com/en-us/">LOL</a></li>
      <li> <a href="https://genshin.mihoyo.com/en">Genshin Impact</a></li>
      <li> <a href="https://civilization.com/">Civilizatoin</a></li>
      <li> <a href="https://idv.163.com/">Identity V</a></li>

    </ul>
  </div>

  <div class="col">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7hX9MG3RrBOYXOl1CFn6jj1F3teOQtKSMHw&usqp=CAU"
     width="100%">
     <br>
     <p> Amber, my dog! (pictur is from internet)</p>
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
