<%- include('bootheader') -%>
<%- include('menubar') -%>



<h1>
Fitness Page! Be Healthy
   </h1>
   <br>
   <div class="row">

     <div class="col">
       <h2>
       Work On Chest
          </h2>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA8F9rqIdDMfrl6t790_LguwOwxsgZxi_AmA&usqp=CAU"
                width="300"><br>
          <a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
       </div>
    <div class="col ">
      <h2>
      Work On Legs
         </h2>
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSZL7narsk9L5jFCdDn2sseJ_aEffIy5fK2A&usqp=CAU"
               width="300"><br>
<a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
      </div>

      <div class="col ">
        <h2>
        Work On Back
           </h2>
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxCyzXO4o0UCSXBBqgnU1Zcz3dg-2WM67kg&usqp=CAU"
                 width="300"><br>
<a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
        </div>
  </div>
  <div class="row">

    <div class="col ">
      <h2>
      Work On Small Muscles
         </h2>
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvRnZrB1-Lw7yZhGzs4vKR3iv9Thw8IJtVWg&usqp=CAU"
               width="300"><br>
<a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
      </div>
   <div class="col ">
     <h2>
     Work On Abs
        </h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk_U9CO_SkF862Nr9VZwcm9fXsbBVREFVinw&usqp=CAU"
              width="300"><br>
<a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
 </div>
     <div class="col">
       <h2>
       Make A Record
          </h2>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvHBGkLWaGHghm6JHQ2gq0HEU-yJoi6rLL3A&usqp=CAU"
                width="300"><br>
<a href="https://www.mazdausa.com/"><button type="button">Click Me!</button></a>
       </div>
  </div>
  <%- include('bootfooter') -%>
  <!-- Hello World! -->
