

  <div class="jumbotron">

  <h1> Diet traker of <%= user.googlename %> </h1>
  <h2>All of the food is here </h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Food type</th><th>food amount</th></tr>
    </thead>
    <tbody>
  <% for(let i=0; i<apikeys.length; i++){
      apikey = apikeys[i]
      console.log(`i=${i} document=${apikey}`)
  %>
    <tr>
      <td> <!-- click on domainName and see all keys with that domainName  -->
        <a href="/apikeys/<%= apikey.domainName %>">
          <%= apikey.domainName %>
        </a>
      </td>
      <td><%= apikey.apikey %></td>


    </tr>
  <%}%>

  <h2>Add another food?</h2>

  <form method="post" action="/apikey">
    enter the food name  <input type="text" name="domainName">  <br>
    <br>
      enter food amount in gram<input type="text" name="apikey">  <br>
      <br>
    <input type="submit">
  </form>
  </div>

  <!-- Hello World! -->
