

  <div class="jumbotron">
  <div class="row">
  <h1> Diet tracker of <%= user.googlename %></h1>
  <form method="post" action="/apikey">
    <div class="col">
  enter the food name  <input type="text" name="domainName">  <br>
  <br>
    enter food amount in gram<input type="text" name="apikey">  <br>
    <br>
    </div>
    <input type="submit">
  </form>
  </div>

  <!-- Hello World! -->
