<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to our lifestyle App</h1>
        <p>This is our lifestyle app, here you can explore weather,
          track your fitness process and record your daily activity!</p>
    </div>



<%- include('bootfooter') -%>
