<%- include('bootheader') -%>
<%- include('menubar') -%>

  <div class="jumbotron">

    <h1> Team 6 Group Project</h1>

    <p>Welcome to the Demo Page</p>
    <div class ="rows">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW4pcpgSxgoinc21Bf53nvqJwLRjfg3GDGCQ&usqp=CAU"
               width="300">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqGhBi6hrWCAUXjOTY63-OZBgHtvCM0o58Fg&usqp=CAU"
               width="300">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHCFYTUMW-wkQyPFAIp-Az8NW89_kjdkGGtA&usqp=CAU"
               width="300">
              </div>
  </div>
  <a href="/connectWithMe">Connect with author </a>

  <%- include('bootfooter') -%>
  <!-- Hello World! -->
