<%- include('bootheader') -%>
<%- include('menubar') -%>

  <div class="jumbotron">

    <h1> Team 6 Group Project</h1>

    <p>Welcome to the Demo Page</p>

  </div>

  <%- include('bootfooter') -%>
  <!-- Hello World! -->
