

  <div class="jumbotron">

  <h2> Diet traker of <%= user.googlename %> </h2>
  <h3>Your food intake:</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Food type</th><th>food amount</th><th>Calories</th></tr>
    </thead>
    <tbody>
  <% for(let i=0; i<lists.length; i++){
      list = lists[i]
      console.log(`i=${i} document=${list}`)
  %>
    <tr>
      <td>

          <%= list.amount %>

      </td>
      <td><%= list.key %></td>
        <td><%= list.calories %></td>


    </tr>
  <%}%>

  <h3>Add another food?</h3>

  <form method="post" action="/list">
    Enter the food name
    <input type="text" name="key">  <br>
    <br>
    Enter food amount in gram<input type="text" name="amount">  <br>
    <br>
    Enter your searched calories:
    <input type="text" name="calories">  <br>
    <input type="submit">
  </form>

  </div>

  <!-- Hello World! -->
