

  <div class="jumbotron">

  <h2> Diet traker of <%= user.googlename %> </h2>
  <h3>All of the food is here </h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Food type</th><th>food amount</th></tr>
    </thead>
    <tbody>
  <% for(let i=0; i<lists.length; i++){
      list = lists[i]
      console.log(`i=${i} document=${list}`)
  %>
    <tr>
      <td> <!-- click on domainName and see all keys with that domainName  -->
        <a href="/lists/<%= list.amount%>">
          <%= list.amount %>
        </a>
      </td>
      <td><%= list.key %></td>


    </tr>
  <%}%>

  <h3>Add another food?</h3>

  <form method="post" action="/list">
    enter the food name  <input type="text" name="key">  <br>
    <br>
      enter food amount in gram<input type="text" name="amount">  <br>
      <br>
    <input type="submit">
  </form>

  </div>

  <!-- Hello World! -->
