
<span class="border border-white">
  <div class="jumbotron">
  <div class="row">
  <h2> Diet tracker of </h2>
  <span class="border border-5">
  <form method="post" action="/list">
    <div class="col">
  enter the food name:
    <br><input type="text" name="key">  <br>
  <br>
    enter food amount in gram:
    <br><input type="text" name="amount">  <br>
    <br>
    <img class="rounded-3" width="550"  src="https://images.chinahighlights.com/allpicture/2019/01/482fb1f829ce4e6496b94fea_894x596.jpg"  alt="food">
<br>
    </div>
    <input type="submit">

  </form>
  </span>
  </div></span>



  <!-- Hello World! -->
