<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><b><i>MazdaCUV</i></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/BC">Basic_Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Mfinder">Get info Online</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/A">Accessories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/PC">Price Calculator</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/RRN">Register Right Now</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/SO">Specia Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/demo"><i>Demo</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i>About</i></a>
      </li>

    </ul>


  </div>
</nav>
