<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron">
  <h1>Profiles</h1>
  <div class="card" style="width: 18rem;">
  <img src="https://wallpaperaccess.com/full/19546.jpg" class="card-img-top">
  <div class="card-body">
    <h3 class="card-title">Wenxuan(Wendy) Jin</h3>
    <h5 class="card-text">a class of 24 at Brandeis.</h5>
    <a href="/aboutWenxuan" class="btn btn-primary">Know more about me!</a>
  </div>
</div>
</div>
<hr>
<%- include('bootfooter') -%>
