<%- include('bootheader') -%>



<h1>
Game Page! Have Fun!
   </h1>
   <br>
   <div class="row">

     <div class="col">
       <h2>
       Ping_Pong_Game!!!
          </h2>
          <img src="https://cdn2.iconfinder.com/data/icons/gaming-color-icons/104/16-gaming-breakout-game-retro-arcade-512.png"
                width="300"><br>
          <a href="/games/pingpong"><button type="button">Click Me!</button></a>
       </div>
    <div class="col ">
      <h2>
      Survive Game
         </h2>
         <img src="images/survive.PNG" width="300"><br>
<a href="/games/wenxuan"><button type="button">Click Me!</button></a>
      </div>

      <div class="col ">
        <h2>
Siyu Game
           </h2>
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxCyzXO4o0UCSXBBqgnU1Zcz3dg-2WM67kg&usqp=CAU"
                 width="300"><br>
<a href="/games/siyu"><button type="button">Click Me!</button></a>
        </div>
  </div>
  <div class="row">

    <div class="col ">
      <h2>
      Ken's Game
         </h2>
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvRnZrB1-Lw7yZhGzs4vKR3iv9Thw8IJtVWg&usqp=CAU"
               width="300"><br>
<a href="/fitness/smallm"><button type="button">Click Me!</button></a>
      </div>


  <%- include('bootfooter') -%>
  <!-- Hello World! -->
