<%- include('bootheader') -%>



<h1>
Game Page! Have Fun!
   </h1>
   <br>
   <div class="row">

     <div class="col">
       <h2>
       Break_Out_Game!!!
          </h2>
          <img src="https://cdn2.iconfinder.com/data/icons/gaming-color-icons/104/16-gaming-breakout-game-retro-arcade-512.png"
                width="300"><br>
          <a href="/games/pingpong"><button type="button">Click Me!</button></a>
       </div>
    <div class="col ">
      <h2>
      Survive Game
         </h2>
         <img src="images/survive.PNG" width="300"><br>
<a href="/games/wenxuan"><button type="button">Click Me!</button></a>
      </div>

      <div class="col ">
        <h2>
   Pong2 game!
           </h2>
           <img src="https://us.rs-barcelona.com/6609-home_default/ping-pong-paddles.jpg"
                 width="300"><br>
<a href="/games/siyu"><button type="button">Click Me!</button></a>
        </div>
  </div>


      <div class="col ">
        <h2>
        Ruoxin's Game
           </h2>
           <img src="images/snakes.jpeg"
                 width="300"><br>
  <a href="/games/ruoxin"><button type="button">Click Me!</button></a>
        </div>


  <%- include('bootfooter') -%>
  <!-- Hello World! -->
