<%- include('bootheader') -%>

<h1>
Legs Page! Be Healthy
   </h1>

   <form method="post" action="/fitness/add_exercise">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name of The Game:</label>
    <div class="col-sm-10">
      <input type="text" name="gamename" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">The score you got!</label>
    <div class="col-sm-10">
      <input type="text" name="URL" class="form-control" id="inputPassword3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword2" class="col-sm-2 col-form-label">Short_Comment about this game:</label>
    <div class="col-sm-10">
      <input type="text" name="shortDescription"class="form-control" id="inputPassword2">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Date of today:</label>
    <div class="col-sm-10">
      <input type="date" name="shortDescription"class="form-control" id="inputPassword3">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add This Exercise</button>
</form>
  <%- include('bootfooter') -%>
