<%- include('bootheader') -%>

<div class="jumbotron">
        <h1>Break_Out_Game!!</h1>
</div>

   <form method="post" action="/games/yizheChoosediff">
     <select name="gamename" id="gamename">
      <option value="PPG">
     Ping_Pong_Game
        </option>
       </select><br>
       Select the Diffculty of the game!<br>
       <select name="yDiff" id="yDiff">
        <option value="easy">
       Easy
          </option>
          <option value="mild">
         Mild
            </option>
            <option value="hard">
           Hard
              </option>
         </select><br>
       <input type="submit" value="start the game!">
   </form>

           <div class="col">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdKocVMjnPeN49XnPL9YTJRF0jHduzmFKEWg&usqp=CAU"
                   width="300">
                    </div><




  <%- include('bootfooter') -%>
