<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="row">
<div class="jumbotron">
        <h1>What do you want to search?</h1>
</div>

  <div class="col">
<h3>From fresh fruit to branded food......<h3>
  <img width="450" src="http://www.sunriseseniorliving.com/~/media/blog-images/march-2015/6-diseases-that-proper-nutrition-prevents_379_40044310_0_14113110_728.jpg">
</div>
  <div class="col">
<form method="post" action="/getFoodData">

    <h2>Search the food through USDA data: </h2><br>
    <input type="text" name="food"><br><br>
    <input type="submit" value="Search">
    <div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
<br><br><br><br>

</div>

</form>

  <a href="/form"><button type="button">Know more about yourself!</button></a>
<br><br><br>


</div>

<div class="card" style="width: 18rem;">
<img src="https://frigiv.palsgaard.com/media/1548/non-dairy-coffe-creamer-made-with-palsgaard-emulsifiers.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h2 class="card-title">Do you know?</h2>
  <p class="card-text">That there's no cream in most coffee creamers! The first three ingredients listed on Nestle's Coffee-Mate's popular creamers, for example, are water, sugar, and soybean and/or canola oil. Coffee creamers can also have synthetic additives like mono and diglycerides.</p>
  <a href="https://www.byrdie.com/is-coffee-creamer-bad-for-you-4795905" class="btn btn-primary">Check the article out</a>
</div>
</div>

<div class="card" style="width: 18rem;">
<img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1126,w_2000,x_0,y_181/f_au
to,q_auto,w_1100/v1554932288/shape/mentalfloss/12531-istock-637790866.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <h2 class="card-title">Do you know?</h2>
  <p class="card-text">That hamburgers are not that unhealthy! It is a good source of protein, iron, phosphorus, and several other nutrients.
  If you eat a hamburger with whole grain bun, it may also provide good amount of dietary fibers.</p>
  <a href="https://www.verywellfit.com/hamburger-nutrition-facts-calories-and-healthier-swaps-4111280" class="btn btn-primary">Check the nutrition out</a>
</div>
</div>


<div class="card" style="width: 18rem;">
<img src="https://img.huffingtonpost.com/asset/5b880250200000430034b929.jpeg?ops=1778_1000" class="card-img-top" alt="...">
<div class="card-body">
  <h2 class="card-title">Do you know?</h2>
  <p class="card-text">That avacados is a type of healthy fruit?(and yes, avacado is a fruit). The American Heart Association recommends eating a variety of nutritious foods, which may help you control your weight, cholesterol, and blood pressure.</p>
  <a href="https://loveonetoday.com/nutrition/avocado-nutrition-facts-label/" class="btn btn-primary">Check the nutrition out</a>
</div>
</div>

</div>

<%- include('bootfooter') -%>
