<%- include('bootheader') -%>
<%- include('menubar') -%>



<h1>
Result   </h1>

   <form method="post" action="/fitness/CalBMR">
     <select name="gender" id="gender">
      <option value="male">
     Male
        </option>
        <option value="female">
       Female
          </option>
       </select><br>
       Age: <input type="number" name="age"><br>
       Height: <input type="number" name="height"><br>
       Weight: <input type="number" name="weight"><br>

       <input type="submit" value="Calculate BMR">
   </form>
   <%= l%>
  <%- include('bootfooter') -%>
